<app-header></app-header>

<h2>User-Profile</h2>
<table class="table">
  <tbody>
  <tr>
    <th>First Name</th>
    <td>{{socialUser?.firstName}}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{socialUser?.lastName}}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{socialUser?.name}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{socialUser?.email}}</td>
  </tr>
  <tr>
    <th>Authorization Code</th>
    <td>{{socialUser?.authorizationCode}}</td>
  </tr>
  <tr>
    <th>Auth Token</th>
    <td>{{socialUser?.authToken}}</td>
  </tr>
  <tr>
    <th>Facebook</th>
    <td>{{socialUser?.facebook}}</td>
  </tr>
  <tr>
    <th>id</th>
    <td>{{socialUser?.id}}</td>
  </tr>
  <tr>
    <th>Id-Token</th>
    <td>{{socialUser?.idToken}}</td>
  </tr>
  <tr>
    <th>Image</th>
    <td>{{socialUser?.image}}</td>
  </tr>
  <tr>
    <th>LinkedIn</th>
    <td>{{socialUser?.linkedIn}}</td>
  </tr>
  <tr>
    <th>PhotoUrl</th>
    <td>{{socialUser?.photoUrl}}</td>
  </tr>
  <tr>
    <th>Provider</th>
    <td>{{socialUser?.provider}}</td>
  </tr>
  <tr>
    <th>Token</th>
    <td>{{socialUser?.token}}</td>
  </tr>
  </tbody>
</table>

