<div [hidden]="!uploadView">
  <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDropDirective
       (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
  </div>

  <div class="container aligner" *ngIf="previewUrl">
    <button mat-icon-button color="warn" (click)="previewUrl = null">
      <mat-icon>delete</mat-icon>
    </button>
    <video class="aligner-item" [src]="previewUrl" controls #videoPlayer>
      >
    </video>

    <h5 *ngIf="isUploading" style="margin-top: 20px">{{progressValue}} %</h5>
    <mat-progress-bar *ngIf="isUploading" class="aligner-item" color="warn"
                      mode="determinate" [value]="progressValue"></mat-progress-bar>
  </div>


  <div class="files-list" *ngFor="let file of files; let i= index">
    <p> {{ file.file.name }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <img src="../../../../../assets/Recycle_Bin_Full.png">
    </button>
    <button mat-raised-button color="primary" (click)="preview(file.file)">Preview</button>
    <button *ngIf="file.processedImage" mat-icon-button color="primary" (click)="toggleView(file)">
      <mat-icon>file_copy</mat-icon>
    </button>
    <mat-spinner *ngIf="file.loading" [diameter]="30"></mat-spinner>
    <button mat-raised-button color="primary" (click)="submit(file.file, i)">Submit</button>
  </div>
</div>
<div *ngIf="!uploadView">
  <button mat-icon-button color="primary" (click)="toggleView(null)">
    <mat-icon>keyboard_return</mat-icon>
  </button>
  <app-canvas-image [images]="currentFile"></app-canvas-image>
</div>
