<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span (click)="routeTo(configuration.pages.DASHBOARD)" style="cursor: pointer;">Dashboard</span>
    <span class="example-spacer"></span>
    <span class="textItemAlign" (click)="routeTo(configuration.pages.PROFILE)">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">person</mat-icon>
      {{socialUser?.firstName}} {{socialUser?.lastName}}
    </span>
    <span class="textItemAlign" (click)="logout()">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">meeting_room</mat-icon>
      Logout
    </span>
  </mat-toolbar-row>
</mat-toolbar>
